form {
  margin: 10px 50px;
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.search {
  margin-top: 20px;
  width: 500px;
  height: 45px;
  font-size: 16px;
  border-radius:30px;
  border: 1px solid rgb(180, 178, 178);
}
.account{
  border-radius: 50%;
}
.up {
  font-family: Arial, sans-serif;
  font-size: small;
  word-spacing: 15px;
  text-align: right;
  margin: 40px;
  color: rgb(80, 78, 78);
}

.grid {
  height: 23px;
  position: relative;
  text-align: right;
}

#click {
  text-align: center;
  margin: 5px;
  margin: 30px;
  padding: 15px 20px;
  margin: 5px;
  
}

.go {
  font-family: Arial, sans-serif;
  font-size: small;
  text-align: center;
  margin-top: 36px;
  color: rgb(80, 78, 78);
}

.down {
  font-family: sans-serif;
  color: grey;
  margin-left: 20px;
  font-size: medium;
  margin-top: 140px;
}

#bot {
  color: grey;
  font-family: sans-serif;
  margin-left: 19px;
  word-spacing: 15px;
  font-size: medium;
  margin-top: 5px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
  margin-right: 15px;
}
.searchbar{
  padding: 5px;
  border: 1px solid rgb(180, 178, 178);
  color: rgb(109, 105, 105);
  border-radius: 30px;
}